<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head")%>
</head>

<body>
  <main>

    <div class="error">
      <h2>HA HA YOU MADE IT!!!</h2>
      <h2>JOES CUSTOM 404 PAGE</h2>
      <img class="displayed" src="/public/images/king-size-homer.jpg" alt="Photo of homer simpson in a dress">
    </div>


  </main>

  <footer>
    <%- include("../partials/footer")%>
  </footer>

</body>

</html>