<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head")%>

</head>

<body>

  <%- include("../partials/header")%>

    <main class="gallery">

      <!--**Gallery Goes Here**-->



    </main>


    <footer>
      <%- include("../partials/footer")%>
    </footer>
</body>

</html>